/*font-family: 'Alkalami', serif;
font-family: 'Merienda', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montaga', serif;
font-family: 'Montserrat', sans-serif;*/
p{
  display: inline-block;
  font-size: 20px;
}
.page{
  padding: 3% 10% 0% 10%;
}
.font{
  font-family:'Merriweather', serif;
}
/*>>>>>>>>>>TOP>>>>>>>>>>*/
#top{
  margin-bottom: 2px;
}
.img-navbar{
  border-radius: 80%;
  width: 100px;
}
.navbar {
  padding-right: 5px;
  padding-left: 5px;
  align-items: center;
  background-color: #439A97;
}
.navbar-brand{

  color:#fff;
  font-size:2rem;
}
.nav-item{
  font-family:'Montaga', serif;
  font-size: 1.5rem;
  padding: 0px 20px;
}
.navbar-nav{
    margin-left: auto!important;
}
/*>>>>>>>>>>MIDDLE>>>>>>>>>>*/
.phone{
  position: -webkit-sticky;
  position: sticky;
  top: 88%;
  border-radius: 50%;
  margin-left: 92%;
  padding: 20px;
  background-color: #439A97;

}
.container-img{
  max-width: 100%;
  padding-bottom: 1px;
}
/*>>>>>>>>>>BOTTOM>>>>>>>>>>*/
.footer{
  background-color:  #439A97;
  padding: 0% 10% 0% 10%;
}
.bottom{
  margin-bottom: 10px;
}
.bottom-logo{
  display: flex;
  align-items: center;
  text-align: center;
  padding-right: 4px;

}
.img-bottom{
  border-radius: 80%;
  width: 100px;
  height: 100px;

}
.fa-brands{
color:#EDEDED;
  font-size: 2em;
}
.fa-solid{
  color:#EDEDED;
  font-size: 2em;
}
.btn-group{

  display: flex;
    align-items: center;
    padding-left: 40px;
}

.btn{
  height: 42px;
}



.photocarusel-images{
  width: 100%;
  
 
}
.photocarusel-text{
  font-size: 3rem;
}